<ul class="section-bar section-top flex-row">
	<li class="section-top-active"><a href="#/monday">周一</a></li>
	<li><a href="#/tuesday">周二</a></li>
	<li><a href="#/wednesday">周三</a></li>
	<li><a href="#/thursday">周四</a></li>
	<li><a href="#/friday">周五</a></li>
</ul>
<section class="section-calendar">
	<div class="calendar-box">
		<span>
			<img src="img/sp_icon08@2x.png" alt="">
			08:00 ~ 09:00
		</span>
		<span>
			<img src="img/sp_icon09@2x.png" alt="">
			木子老师
		</span>
	</div>
	<div class="calendar-box">
		<span>
			<img src="img/sp_icon08@2x.png" alt="">
			08:00 ~ 09:00
		</span>
		<span>
			<img src="img/sp_icon09@2x.png" alt="">
			木子老师
		</span>
	</div>
	<div class="calendar-box">
		<span>
			<img src="img/sp_icon08@2x.png" alt="">
			08:00 ~ 09:00
		</span>
		<span>
			<img src="img/sp_icon09@2x.png" alt="">
			木子老师
		</span>
	</div>
	<div class="calendar-box">
		<span>
			<img src="img/sp_icon08@2x.png" alt="">
			08:00 ~ 09:00
		</span>
		<span>
			<img src="img/sp_icon09@2x.png" alt="">
			木子老师
		</span>
	</div>
	<div class="calendar-box">
		<span>
			<img src="img/sp_icon08@2x.png" alt="">
			08:00 ~ 09:00
		</span>
		<span>
			<img src="img/sp_icon09@2x.png" alt="">
			木子老师
		</span>
	</div>
	<div class="calendar-box">
		<span>
			<img src="img/sp_icon08@2x.png" alt="">
			08:00 ~ 09:00
		</span>
		<span>
			<img src="img/sp_icon09@2x.png" alt="">
			木子老师
		</span>
	</div>
</section>