<!-- <div class="talk-box">
	<div class="talk-box-top">
		<img src="img/icon-vip.png" alt="">
		【掌金】深深
	</div>
	<p class="talk-box-area">
		黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！
	</p>
</div>
<div class="talk-box">
	<div class="talk-box-top">
		<img src="img/icon-vip.png" alt="">
		【掌金】深深
	</div>
	<p class="talk-box-area">
		黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！
	</p>
</div>
<div class="talk-box">
	<div class="talk-box-top">
		<img src="img/icon-vip.png" alt="">
		【掌金】深深
	</div>
	<p class="talk-box-area">
		黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！
	</p>
</div>
<div class="talk-box">
	<div class="talk-box-top">
		<img src="img/icon-vip.png" alt="">
		【掌金】深深
	</div>
	<p class="talk-box-area">
		黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！
	</p>
</div>
<div class="talk-box">
	<div class="talk-box-top">
		<img src="img/icon-vip.png" alt="">
		【掌金】深深
	</div>
	<p class="talk-box-area">
		黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！
	</p>
</div>
<div class="talk-box">
	<div class="talk-box-top">
		<img src="img/icon-vip.png" alt="">
		【掌金】深深
	</div>
	<p class="talk-box-area">
		黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！
	</p>
</div>
<div class="talk-box">
	<div class="talk-box-top">
		<img src="img/icon-vip.png" alt="">
		【掌金】深深
	</div>
	<p class="talk-box-area">
		黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！黄金目前阻力在1232...冲过去就是一帆风顺！
	</p>
</div> -->
<div class="widget-comment">
	<div class="widget-comment-area" contentEditable=true data-placeholder="可以与大家互动交流哦！"></div>
	<span class="widget-comment-btn">发送</span>
</div>