<p class="online-bar online-hight36" style="margin: 0px;">麦序 (3) </p>
	<ol  class="online-padding" >
		<li class="online-item online-border-bottom" >
			<span class="online-margin-left12"><i> 1 </i></span>
			<img class="online-margin-left20" src="img/demo1.png">
			<span class="oline-padding-left">[分析师] 木子老师</span>							
		</li>
		<li class="online-item online-border-bottom">
			<span class="online-margin-left12"><i> 2 </i></span>
			<img class="online-margin-left20"src="img/demo2.png">
			<span class="oline-padding-left">[分析师] 木子老师</span>							
		</li>
		<li class="online-item online-border-bottom">
			<span class="online-margin-left12"><i> 3 </i></span>
			<img class="online-margin-left20" src="img/demo3.png">
			<span class="oline-padding-left">[黄金] 黄洁</span>							
		</li>
</ol>
<p class="online-bar online-hight36"  style="margin:0px;">会员 </p>
	<ol class="online-padding-number">
		<li class="online-item online-border-bottom">
			<img class="online-margin-left12"src="img/demo4.png">
			<span class="oline-padding-left">【掌金】 掌金小宝家的粉丝</span>							
		</li>
		<li class="online-item online-border-bottom">
			<img class="online-margin-left12"src="img/demo4.png">
			<span class="oline-padding-left">【掌金】 掌金小宝家的粉丝</span>							
		</li>
</ol>
