<div class="section-box">
	<p>关于部分用户微盘无法正常使用的通知</p>
	<p class="section-date">2015-02-02 09:20:49</p>
	<p>尊敬的各位投资者：</p>
	<p>您好, 因微盘所属交易所系统升级维护导致部分用户在使用微盘过程中出现行情延迟、无法交易等情况，掌金已紧急联系对方技术人员处理回复中，请耐心等待，给您带来的不便敬请谅解。</p>
</div>
<div class="section-box">
	<p>关于部分用户微盘无法正常使用的通知</p>
	<p class="section-date">2015-02-02 09:20:49</p>
	<p>尊敬的各位投资者：</p>
	<p>您好, 因微盘所属交易所系统升级维护导致部分用户在使用微盘过程中出现行情延迟、无法交易等情况，掌金已紧急联系对方技术人员处理回复中，请耐心等待，给您带来的不便敬请谅解。</p>
</div>
<div class="section-box">
	<p>关于部分用户微盘无法正常使用的通知</p>
	<p class="section-date">2015-02-02 09:20:49</p>
	<p>尊敬的各位投资者：</p>
	<p>您好, 因微盘所属交易所系统升级维护导致部分用户在使用微盘过程中出现行情延迟、无法交易等情况，掌金已紧急联系对方技术人员处理回复中，请耐心等待，给您带来的不便敬请谅解。</p>
</div>
<div class="section-box">
	<p>关于部分用户微盘无法正常使用的通知</p>
	<p class="section-date">2015-02-02 09:20:49</p>
	<p>尊敬的各位投资者：</p>
	<p>您好, 因微盘所属交易所系统升级维护导致部分用户在使用微盘过程中出现行情延迟、无法交易等情况，掌金已紧急联系对方技术人员处理回复中，请耐心等待，给您带来的不便敬请谅解。</p>
</div>
<div class="section-box">
	<p>关于部分用户微盘无法正常使用的通知</p>
	<p class="section-date">2015-02-02 09:20:49</p>
	<p>尊敬的各位投资者：</p>
	<p>您好, 因微盘所属交易所系统升级维护导致部分用户在使用微盘过程中出现行情延迟、无法交易等情况，掌金已紧急联系对方技术人员处理回复中，请耐心等待，给您带来的不便敬请谅解。</p>
</div>
<div class="section-box">
	<p>关于部分用户微盘无法正常使用的通知</p>
	<p class="section-date">2015-02-02 09:20:49</p>
	<p>尊敬的各位投资者：</p>
	<p>您好, 因微盘所属交易所系统升级维护导致部分用户在使用微盘过程中出现行情延迟、无法交易等情况，掌金已紧急联系对方技术人员处理回复中，请耐心等待，给您带来的不便敬请谅解。</p>
</div>